<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <queries>
        <package android:name="com.tencent.mm" />
        <package android:name="com.eg.android.AlipayGphone" />
    </queries>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EazyWrite"
        android:usesCleartextTraffic="true"
        tools:targetApi="33">
        <activity
            android:name=".ui.FrequentlyAskedQuestionsActivity"
            android:exported="false"
            android:label="@string/title_activity_frequently_asked_questions"
            android:theme="@style/Theme.EazyWrite" />
        <activity
            android:name=".ui.importbill.WeChatImportActivity"
            android:exported="true"
            android:icon="@drawable/ic_launcher_playstore"
            android:label="导入微信账单"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/zip" />
                <data android:mimeType="text/csv" />
                <data android:mimeType="text/comma-separated-values" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:mimeType="application/zip" />
                <data android:mimeType="text/csv" />
                <data android:mimeType="text/comma-separated-values" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.importbill.AlipayImportActivity"
            android:exported="true"
            android:icon="@drawable/ic_launcher_playstore"
            android:label="导入支付宝账单"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/zip" />
                <data android:mimeType="text/csv" />
                <data android:mimeType="text/comma-separated-values" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:mimeType="application/zip" />
                <data android:mimeType="text/csv" />
                <data android:mimeType="text/comma-separated-values" />
            </intent-filter>
        </activity>

        <service
            android:name=".ui.bill.UpdateAppWidgetService"
            android:enabled="true"
            android:exported="true"></service>

        <activity
            android:name=".ui.notification.NotificationAddBillActivity"
            android:exported="true"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialog" />

        <service
            android:name=".service.BillService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".ui.bill.BillEditActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".ui.profile.feedback.FeedbackActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.audiorecord.AudioRecordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.bill.ArticleActivity"
            android:exported="false" />
        <activity
            android:name=".ui.author.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.gpt.ChatActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".ui.image_editing.ImagePreviewActivity"
            android:exported="false" />
        <activity
            android:name=".ui.welcome.ForgetPasswordActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.welcome.SignUpActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.welcome.LoginActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.EazyWrite"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.bill.AddBillContentActivity"
            android:exported="true" />
        <activity
            android:name=".ui.image_editing.CameraXActivity"
            android:exported="true" />
        <activity
            android:name=".ui.bill.BillActivity"
            android:exported="true" />
        <activity
            android:name=".ui.bill.AgentWebActivity"
            android:exported="true" />
        <activity
            android:name=".ui.chart.ChartActivity"
            android:exported="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service android:name=".service.AutoAccessibilityService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:label="@string/text_import_invoices_automatically"
            android:exported="true">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>

        <receiver
            android:name=".ui.bill.DesktopAppWidget"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_test" />
        </receiver>
    </application>

</manifest>